<form action="{% url 'automations:converter' %}" method="post">
    <div>
        <button type="submit" name="submit_action" value="back_to_admin">Go back to admin page</button>
    </div>
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit" name="submit_action" value="convert">Convert</button>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</form>